*.iml
bash.exe.stackdump
.idea
.cache
*.spec.js*
*.mock.html
*.tgz
.git
.github
.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
.travis.yml
document.json
jest.config.js
__tests__
__mocks__
docs
config
coverage
node_modules
spec
